@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotateX-0 {
    transform: rotateX(0deg);
  }
  .rotateX-100 {
    transform: rotateX(100deg);
  }
  .imageclick {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    animation: animate 1s linear;
    opacity: 100%;
    background-color: green;
  }
}
@keyframes animate {
  0% {
    transform: rotateX(0deg);
    opacity: 50%;
    background-color: red;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 100%;
    background-color: green;
  }
}
