@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotateX-0 {
    transform: rotateX(0deg);
  }
  .rotateX-100 {
    transform: rotateX(100deg);
  }
  .imageclick {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    animation: animate 1s linear;
    opacity: 100%;
    background-color: green;
  }
  .shadowinner {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  /* .padding {
    padding-left: calc(100%-30px);
    padding-right: calc();
  } */
}
@keyframes animate {
  0% {
    transform: rotateX(0deg);
    opacity: 50%;
    background-color: red;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 100%;
    background-color: green;
  }
}
