.childrenBlock {
  border: 1px solid rgba(9, 120, 247, 0.592);
}

.titleBlock {
  background-color: rgba(9, 120, 247, 0.592);
  margin: 0;
}

.titleBlock::after {
  content: "\f178";
  font-family: FontAwesome;
}
