.container-navigation {
  display: none;
  align-self: flex-end;
  .navigation-items {
    padding-bottom: 20px;
    text-align: right;
  }
}
.show {
  display: block;
  animation: opacityNav 5s forwards;
}

@keyframes opacityNav {
  0% {
    opacity: 0;
    transform: translate(50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
